name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker build ./web/ --file ./web/Dockerfile --tag gcr.io/deductive-tempo-452710-u2/tilt-to-survive:latest --tag lobinarcolungo/tilt_to_survive:latest
        
    - name: Push image to docker hub
      run: |
        docker login -u lobinarcolungo -p ${{secrets.DOCKER_HUB_TOKEN}}
        docker push lobinarcolungo/tilt_to_survive:latest
        docker push gcr.io/deductive-tempo-452710-u2/tilt-to-survive:latest

      
