name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: 
        docker build ./web/ --file ./web/Dockerfile --tag lobinarcolungo/tilt-to-survive:$(date +%s)
    - name: Push image to docker hub
      run: |
        docker login -u lobinarcolungo -p ${{secrets.DOCKER_HUB_TOKEN}}
        docker push lobinarcolungo/tilt-to-survive
      
